<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <form action="/auth/signup" method="post">
            {% csrf_token %}
            <div class="subcont">
                <div class="left">
                    <h1>Sign Up Here...</h1>
                    <img src="nitwlogo.png" alt="">
                </div>
                <div class="form">
                    <div class="data">
                        <label for='username'>Name</label>
                        <input type="text" id='username' class="inputs" name="firstname" required>
                    </div>
                    <div class="data">
                        <label for='Mailid'>Mail Id</label>
                        <input type="email" id="Mailid" class="inputs" name="email" required>
                    </div>
                    <div class="data">
                        <label for='mobileNumber'>Mobile Number</label>
                        <input type="text" id='mobileNumber' class="inputs" name="phoneno" required>
                    </div>
                    <div class="data">
                        <label for="password">New Password</label>
                        <input type="password" name="password" id="password" class="inputs" required>
                    </div>
                    <div class="data">
                        <label for="confpass">Confirm Password</label>
                        <input type="password" name="confpass" id='confpass' class="inputs" required>
                    </div>
                    <div class="buts">
                        <button type="submit">Sign up</button>
                        <a href="/auth/loginpage" class="exisuser">Existing User?</a>
                    </div>
                </div>
            </div>

    </form>
    </div>
</body>

</html>