#navbar {
    font-size: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-shadow: 10px 8px 100px 5px lightgrey;
}

.nav-item {
    color:goldenrod;
    padding: 8px;
    border-radius: 12px;
}

.nav-item:hover {
    background-color: goldenrod;
    color: white;
    text-decoration: none;
}

.btn-primary {
    background-color: goldenrod !important;
    border: 1px solid transparent !important;
}

.btn-primary:hover {
    background-color: white !important;
    color:goldenrod;
    border: 1px solid goldenrod !important;
}
