#navbar {
    font-size: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-shadow: 10px 8px 100px 5px lightgrey;
}

.nav-item {
    color:goldenrod;
    padding: 8px;
    border-radius: 12px;
}

.nav-item:hover {
    background-color: goldenrod;
    color: white;
    text-decoration: none;
}

.btn-primary {
    background-color:darkcyan  !important;
    border: 1px solid transparent !important;
}

.btn-primary:hover {
    background-color: white !important;
    color:darkcyan;
    border: 1px solid darkcyan !important;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}

#navbar {
    width: 100%;
}

h1 {
    font-size: 40px;
    font-weight: bolder;
}

h5 {
    font-size: 36px;
    font-weight: bolder;
}
